<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="{{ asset ('css/bootstrap.min.css')}}">
             <link href="/css/font-awesome.min.css" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script src="{{ asset ('js/bootstrap.bundle.min.js')}}"></script>
        {% endblock %}
    </head>
    <body>
    
     <div class="image ">
        {% set image = 'logo.jpg' %}
        <img src="{{ asset('images/' ~ image) }}" width='140' height='70'>
    </div>
        <div class="container text-center mb-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <h3><a class="nav-link text-primary text-uppercase" href="{{ path ('home') }}">Home</a></h3>
                    </li>
                    <li class="nav-item">
                    <h3><a class="nav-link text-primary text-uppercase" href="{{ path ('category_index') }}">Category</a></h3>
                    </li>
                    <li class="nav-item">
                    <h3><a class="nav-link text-primary text-uppercase" href="{{ path ('product_index') }}">Product</a></h3>
                    </li>
                     <li class="nav-item text-right">
                    <h3>
                    <a class="nav-link text-primary text-uppercase" style="margin-left:500px" href="{{ path ('app_logout') }}">Logout</a>
                    
                    </h3>
                    
                    </li> 
                </ul>
                </div>
            </div>
        </nav>
        </div>
        
        {% block body %}
        {% endblock %}

        {% set copyright = "Copyright by Vu Ngoc Tu - 2021 !" %}

        {% block footer %}
            <p class="text-info text-center text-bold mt-5"> {{ copyright }} </p>
        {% endblock %}
           
        
    </body>
</html>
